.parent{
    margin-top: 250px;
    margin-bottom: 10px;
    margin-left: 600px;
    font-size: 15px;
    padding: 10px;
}
.child{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 550px;
}
.input{
    margin-bottom: 15px;
}
.para{
    padding-left: 620px; 
    color: red;
}
.sub{
    padding: 10px;
    margin-left: 49px;
}